body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

.main {
  margin: 0 10px;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

nav {
  text-align: center;
}

nav a {
  margin: 10px;
  border-radius: 4px;
}

:host {
  text-align: center;
}

nz-header {
  background: #11268a;
}
nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}
