 body {
  margin: 0;
  padding: 0;
}

nz-layout{
  min-height: 100vh;
}
/* 
body,
input[type="text"],
button {
  color: #888;
  font-family: Cambria, Georgia;
}

.main {
  margin: 0 10px;
}
h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

nav {
  text-align: center;
}

nav a {
  margin: 10px;
  border-radius: 4px;
}

/* } */
.header{
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 21px;
}

.nav ul li{
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.nav ul li:last-child{
  padding-left: 15px;
}



[nz-menu] {
  line-height: 24px;
}

nz-content {
  padding: 0 30px 0 30px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 80vh;
}
