<h2>My Heroes</h2>
<div class='hero-add'>
    <label>Hero name:
        <input #heroName nz-input/>
    </label>
    <button (click)='add(heroName.value); heroName.value=""' nz-button nzType="primary">
        Add
    </button>  
</div>
<div class='spin'>
    <nz-demo-spin-basic *ngIf='isLoading'></nz-demo-spin-basic>
</div>
<ul class='heroes'>
    <li *ngFor='let hero of heroes'>
    <a routerLink='/detail/{{hero.id}}'>
        <span class='badge'>{{hero.id}}</span> {{hero.name}}
    </a>
    <button class='delete' title='delete hero'
    (click)='delete(hero)'
    >X</button>
    </li>
</ul>
